.cart-container {
  width: 100%;
  padding-bottom: 5rem;
  text-align: center;
}

.cart-container > a {
  margin: 0 auto;
}

.cart-content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5rem 5rem;
  max-width: 1000px;
}

.cart-content > div,
.cart-content > section {
  border: 1px solid rgb(43, 38, 38);
}

.cart-image-container {
  background-color: white;
}

.cart-image-container > img {
  width: 200px;
}

.cart-details {
  display: grid;
  background-color: rgb(43, 38, 38);
  flex-grow: 1;
  min-width: 200px;
  color: white;
  text-align: left;
  align-content: stretch;
}

.cart-details > div {
  font-size: larger;
  padding: 0.3rem;
}

.cart-delete {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

.cart-delete > button {
  width: max-content;
}

.cart-grids-container {
  padding: 1rem;
}

.checkout-container {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: rgb(43, 38, 38);
  color: white;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

.total {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.checkout-container > button {
  width: 50%;
}

.home-btn-container > a > div {
  line-height: 1.5rem;
}

@media (max-width: 800px) {
  .cart-details > div {
    font-size: small;
  }

  .cart-image-container > img {
    width: 160px;
  }

  .cart-delete > button {
    font-size: smaller;
    height: max-content;
    width: min-content;
  }

  .total {
    font-size: large;
  }

  .checkout-container > button {
    width: 100%;
  }
}
