.cartContainer {
  width: 100%;
  padding-bottom: 5rem;
  text-align: center;
}

.cartContainer > a {
  margin: 0 auto;
}

.cartContent {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5rem 5rem;
  max-width: 1000px;
}

.cartContent > div,
.cartContent > section {
  border: 1px solid rgb(43, 38, 38);
}

.cartImageContainer {
  background-color: white;
}

.cartImageContainer > img {
  width: 200px;
}

.cartDetails {
  display: grid;
  background-color: rgb(43, 38, 38);
  flex-grow: 1;
  min-width: 200px;
  color: white;
  text-align: left;
  align-content: stretch;
  padding: 1rem;
}

.cartDetails > div {
  font-size: larger;
  padding: 0.3rem;
}

.cartDelete {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

.cartDelete > button {
  width: max-content;
}

.cartGridsContainer {
  padding: 1rem;
}

.checkoutContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: rgb(43, 38, 38);
  color: white;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

.total {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.checkoutContainer > button {
  width: 50%;
}

.homeBtnContainer {
  display: grid;
  justify-content: center;
  margin-top: 5rem;
  padding: 2rem 5rem;
}

.homeNav {
  margin: auto;
  composes: homeNav from '../header/Header.module.css';
  line-height: 1.5rem;
}

@media (max-width: 800px) {
  .cartDetails {
    padding: 0.5rem;
  }

  .cartDetails > div {
    font-size: small;
  }

  .cartImageContainer > img {
    width: 160px;
  }

  .cartDelete > button {
    font-size: smaller;
    height: max-content;
    width: min-content;
  }

  .total {
    font-size: large;
  }

  .checkoutContainer > button {
    width: 100%;
  }
}
