.homeContainer {
  display: grid;
}

.homeMain {
  display: grid;
  background-color: rgb(43, 38, 38);
  padding: 2rem 5rem;
  opacity: 0.9;
  color: white;
  margin-top: 7rem;
  font-size: xx-large;
  box-shadow: 0 0 20px rgb(43, 38, 38);
}

.homeBtnContainer {
  margin-top: 5rem;
  display: grid;
  justify-content: center;
  padding: 2rem 5rem;
}

.homeBtnContainer > a > div {
  line-height: 1.5rem;
}

.homeNav {
  composes: homeNav from '../header/Header.module.css';
}

@media (max-width: 800px) {
  .homeMain {
    display: grid;
    align-items: center;
    background-color: rgb(43, 38, 38);
    padding: 1rem 1rem;
    margin-top: 0rem;
    opacity: 0.9;
    color: white;
    font-size: large;
    box-shadow: 0 0 20px rgb(43, 38, 38);
  }

  .homeBtnContainer {
    margin-top: 0;
  }
}
