.home-container {
  display: grid;
  grid-template-rows: 0.2fr 1fr 1fr;
  height: 100vh;
}

.home-content {
  display: grid;
  background-color: black;
  padding: 2rem 5rem;
  opacity: 0.8;
  color: white;
  font-size: xx-large;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.btn-container {
  display: grid;
  justify-content: center;
  align-items: center;
}
