.home-container {
  display: grid;
  grid-template-rows: 0.2fr 1fr 1fr;
  height: 100vh;
}

.home-content {
  background-color: black;
  padding: 2rem 5rem;
  opacity: 0.8;
  color: white;
  display: grid;
  font-size: xx-large;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.btn-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: xx-large;
  height: 5rem;
  opacity: 0.8;
  width: 20rem;
  text-decoration: underline;
}

a:hover {
  background-color: rgb(255, 228, 196);
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  color: black;
  opacity: 1;
  transition: 0.1s;
  transform: scale(1.05);
}
