.home-container {
  display: grid;
  grid-template-rows: 0.2fr 1fr 1fr;
  height: 100vh;
}

.home-main {
  display: grid;
  background-color: rgb(43, 38, 38);
  padding: 2rem 5rem;
  opacity: 0.9;
  color: white;
  margin-top: 7rem;
  font-size: xx-large;
  box-shadow: 0 0 20px rgb(43, 38, 38);
}

.home-btn-container {
  display: grid;
  justify-content: center;
  align-items: center;
}
