.catalog-container {
  display: grid;
  height: 100vh;
}

.brands {
  padding: 1rem 5rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  line-height: 2rem;
}

li {
  background-color: black;
  color: white;
  width: 6rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 10rem;
}

li:hover {
  background-color: rgb(255, 228, 196);
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  color: black;
  opacity: 1;
  transition: 0.1s;
  transform: scale(1.05);
}

.catalog-content {
  overflow-y: scroll;

  padding: 1rem 5rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.card {
  display: grid;
  grid-template-rows: 2fr 2fr;
  height: 540px;
  background-color: black;
  color: white;
}

.image-container {
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.description {
  display: grid;
  align-items: center;
  grid-template-rows: 70px 50px 70px;
}

.description > div {
  padding: 0.2rem 1rem;
}

button {
  margin-top: 0.5rem;
}

input {
  width: 15%;
  height: 1.5rem;
  margin-left: 1rem;
}

button {
  height: 3rem;
  width: 100%;
}

button:hover {
  background-color: rgb(255, 228, 196);
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  color: black;
  opacity: 1;
  transition: 0.1s;
  transform: scale(1.05);
}
