.catalog-container {
  display: grid;
  height: 100vh;
}

.brands {
  padding: 1rem 5rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  line-height: 2rem;
}

li {
  background-color: black;
  color: white;
  width: 6rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 10rem;
}

li:hover {
  background-color: rgb(255, 228, 196);
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  color: black;
  opacity: 1;
  transition: 0.1s;
  transform: scale(1.05);
}

.catalog-content {
  overflow-y: scroll;
  padding: 1rem 5rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.card {
  height: 500px;
  background-color: black;
  color: white;
}

.description {
  display: grid;
  grid-template-rows: 40px 50px 1fr;
}

.description > div {
  padding: 0.2rem 1rem;
}

.add-to-cart {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
}

input {
  width: 15%;
  height: 2rem;
  margin-left: 1rem;
}

button {
  height: 3rem;
  width: 100%;
}
