.filterList {
  display: flex;
  list-style: none;
  gap: 1rem;
  line-height: 2rem;
  padding: 2rem 5rem;
  width: 100%;
}

.filterListDropdown {
  display: none;
  gap: 1rem;
  line-height: 2rem;
  justify-content: center;
}

.filterListDropdown > select:hover {
  cursor: pointer;
}

.filterListList {
  padding: 2rem 5rem;
}

.catalogContent {
  padding: 1rem 5rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
  gap: 1rem;
  justify-content: center;
}

.loading,
.error {
  position: absolute;
  top: 30%;
  left: 45%;
  width: 10%;
}

.linkToTop {
  position: fixed;
  height: 30px;
  width: fit-content;
  line-height: 0;
  bottom: 0;
  right: 0;
}

@media (max-width: 950px) {
  .filterList {
    display: none;
  }

  .filterListDropdown {
    display: flex;
  }
}
