ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  line-height: 2rem;
  padding: 0 5rem;
  width: 1500px;
}

a {
  background-color: black;
  color: white;
  width: max-content;
  padding: 1rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 10rem;
  text-decoration: none;
}

a:hover {
  background-color: rgb(255, 228, 196);
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  color: black;
  opacity: 1;
  transition: 0.1s;
  transform: scale(1.05);
}

.catalog-content {
  padding: 1rem 5rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
  gap: 1rem;
}

.loading,
.error {
  position: absolute;
  top: 20%;
  left: 45%;
  width: 10%;
}
