header {
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
  flex-wrap: wrap;
}

.storeName {
  flex-grow: 1;
}

.navWeb {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

h1 {
  font-size: 4rem;
  color: rgb(43, 38, 38);
}

a {
  background-color: rgb(43, 38, 38);
  color: white;
  width: max-content;
  padding: 1rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 10rem;
  text-decoration: none;
}

a:hover {
  background-color: rgb(255, 228, 196);
  box-shadow: 5px 5px 5px rgb(43, 38, 38);
  cursor: pointer;
  color: black;
  opacity: 1;
  transition: 0.1s;
  transform: scale(1.05);
}

.homeNav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 38, 38);
  font-weight: bold;
  color: white;
  font-size: x-large;
  height: 4.5rem;
  opacity: 0.9;
  width: 12rem;
  text-decoration: none;
}

.homeNav:hover {
  background-color: rgb(255, 228, 196);
  box-shadow: 5px 5px 5px rgb(43, 38, 38);
  cursor: pointer;
  color: rgb(43, 38, 38);
  opacity: 1;
  transition: 0.1s;
  transform: scale(1.05);
}

.navMobile {
  display: none;
  position: relative;
}

.cartArray {
  margin-left: 0.5rem;
  padding: 0.2rem 0.5rem;
  background-color: rgb(99, 151, 99);
  border-radius: 30%;
  color: white;
}

.dropDownMenuNav {
  background-color: rgb(43, 38, 38);
  position: absolute;
  top: 100%;
  z-index: 1;
}

.mobileLink {
  display: flex;
  text-align: left;
  border-radius: 0;
  height: 40px;
  padding: 0.5rem;
  gap: 0.5rem;
}

.mobileLink:hover {
  background-color: rgb(255, 228, 196);
  box-shadow: 5px 5px 5px rgb(43, 38, 38);
  cursor: pointer;
  color: rgb(43, 38, 38);
  opacity: 1;
  transition: 0.1s;
  transform: scale(1.05);
}

@media (max-width: 1250px) {
  header {
    justify-content: center;
  }

  h1 {
    text-align: center;
  }
}

@media (max-width: 800px) {
  header {
    flex-wrap: nowrap;
    padding: 1rem 1rem;
  }

  .navWeb {
    display: none;
  }

  .navMobile {
    display: flex;
  }

  .navMobile > img {
    padding: 0;
  }

  h1 {
    font-size: 3rem;
    text-align: left;
  }

  .cartArray {
    margin-left: 0;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 30px;
  }

  .homeNav {
    font-size: 1rem;
  }
}

@media (max-width: 630px) {
  h1 {
    font-size: 2rem;
    text-align: left;
  }
}
