header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 1rem 5rem;
}

nav {
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr;
  gap: 1rem;
}

h1 {
  font-size: 4rem;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: x-large;
  height: 5rem;
  opacity: 0.9;
  width: 15rem;
  text-decoration: none;
}

a:hover {
  background-color: rgb(255, 228, 196);
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  color: black;
  opacity: 1;
  transition: 0.1s;
  transform: scale(1.05);
}

.cart-array {
  margin-left: 0.5rem;
  padding: 0.2rem 0.5rem;
  background-color: darkgreen;
  border-radius: 30%;
}
