header {
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
  flex-wrap: wrap;
}

.storeName {
  flex-grow: 1;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

h1 {
  font-size: 4rem;
  color: rgb(43, 38, 38);
}

.homeNav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 38, 38);
  font-weight: bold;
  color: white;
  font-size: x-large;
  height: 4.5rem;
  opacity: 0.9;
  width: 12rem;
  text-decoration: none;
}

.homeNav:hover {
  background-color: rgb(255, 228, 196);
  box-shadow: 5px 5px 5px rgb(43, 38, 38);
  cursor: pointer;
  color: rgb(43, 38, 38);
  opacity: 1;
  transition: 0.1s;
  transform: scale(1.05);
}

.cartArray {
  margin-left: 0.5rem;
  padding: 0.2rem 0.5rem;
  background-color: rgb(99, 151, 99);
  border-radius: 30%;
}

@media (max-width: 800px) {
  header {
    padding: 1rem 3rem;
    justify-content: center;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
  }

  nav {
    display: flex;
    padding: 1rem 1rem;
    justify-content: center;
  }

  .homeNav {
    font-size: large;
    height: 3rem;
    width: 8rem;
  }
}

@media (max-width: 1350px) {
  header {
    justify-content: center;
  }

  h1 {
    text-align: center;
  }
}
